<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Transaction Password Change</title>

	<!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    
    <!-- Style -->
    <style>
		
		* {
			margin:0;
			padding:0;
			background:none;
		}
		body {
			margin:0 auto;
			padding:0;
		}
	
	</style>
    <!-- / Style -->
    
</head>

<body style="margin:0 auto; background:#fff; padding:0;">
	
    <table cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0; background:none; width:600px; overflow:hidden; background:#eee; font-family:'Open Sans', sans-serif; font-size:14px; line-height:22px; letter-spacing:0; color:#666; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px; overflow:hidden; font-weight:normal;">
    	
        <!-- Header -->
    	<tr>
            <th colspan="3"><a href="https://www.cryptobunch.org" target="_blank" title="Cryptobunch"><img src="https://www.cryptobunch.org/images/emailerbanner.png" alt="Your Job Space" style="margin:0 0 -7px 0; width:100%;" /></a></th>
        </tr>
        <!-- / Header -->
        
        <!-- Body -->
        <tr>
            <td colspan="2" style="padding:23px 0 20px 20px; vertical-align:top;">
                <table width="100%" cellpadding="0" cellspacing="0" style="padding:20px; background:#fff; box-shadow:0 2px 3px #ccc; border:1px solid #ddd; text-align:left; font-weight:normal">
                    <tr>
                        <th>
                            <img src="https://www.cryptobunch.org/Template/eimages/icon-info.png" alt="" style="display:inline-block; position:relative; top:7px; margin-right:10px;" />
                            <h1 style="font-size:20px; font-weight:600; color:#c5b000;display:inline-block; line-height:30px; ">Recover your password</h1>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin-top:30px; font-weight:bold; color:#000;">Dear Customer,</p>
                            <p style="font-weight:normal; margin:10px 0 20px 0;">Someone has requested to change Transaction password for an account or domain name with this email address listed as the default registrant contact (account owner). The username for the account is: </p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">User Name :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&strUserName&&</span></p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">Transaction Password :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&strTpassword&&</span></p>                            
                           	<p>To change the Transaction password for this domain you must visit the following URL from the same IP address in which you made the request within 24 hours: </p>                            
                        </td>
                    </tr>
                </table>	
            </td>
           <td style="padding:20px; vertical-align:top;">
                <a href="" target="_blank"><img src="https://www.cryptobunch.org/Template/eimages/aside-package.png" alt="Business Package" style="margin-bottom :30px;" /></a>
                <a href="" target="_blank"><img src="https://www.cryptobunch.org/Template/eimages/aside-deposit.png" alt="Deposit" style="margin-bottom :30px;" /></a>
                <a href="" target="_blank"><img src="https://www.cryptobunch.org/Template/eimages/aside-donate.png" alt="Donate" /></a>
            </td>
        </tr>
        <!-- / Body -->
        
        <!-- Promo -->
        <tr>
        	<td colspan="3"><a href="https://www.cryptobunch.org/business_plan.aspx" target="_blank" title="Our Packages"><img src="https://www.cryptobunch.org/Template/eimages/bottom-package.jpg" alt="Our Packages" style="margin:0 0 -7px 0; width:100%;" /></a></td>
        </tr>
        <!--  /Promo -->
        
        <!-- Footer -->
        <tr style="background:#000; color:#bbb; font-size:12px; line-height:20px;">
        
        	<td style="padding:20px; width:140px; vertical-align:top;">
                <a href="" target="_blank"><img src="https://www.cryptobunch.org/Template/eimages/icon-fb.jpg" alt="Cryptobunch on Facebook" style="margin-right:5px" /></a>
                <a href="" target="_blank"><img src="https://www.cryptobunch.org/Template/eimages/icon-yt.jpg" alt="Cryptobunch on Twitter" style="margin-right:5px" /></a>
                <a href="" target="_blank"><img src="https://www.cryptobunch.org/Template/eimages/icon-tw.jpg" alt="Cryptobunch on Youtube" style="margin-right:5px" /></a>
            </td>
            
        	<td style="width:200px;padding:20px; vertical-align:top;">
            	<p>Cryptobunch<br/> <br/> <br/>  </p>
            </td>
        	<td style="width:120px; padding:20px; vertical-align:top;">
            	<p><a href="mail-to:contact@cryptobunch.org" style="color:#00a2d7;">contact@cryptobunch.org</a></p>
            	<p style="margin:5px 0;"><img src="https://www.cryptobunch.org/Template/eimages/icon-ph.png" alt="Phone" style="position:relative; top:7px; margin:0 5px 0 0;" />xx </p>
                <p><img src="https://www.cryptobunch.org/Template/eimages/icon-wa.png" alt="Phone" style="position:relative; top:7px; margin:0 5px 0 0;" />xx</p>
            </td>
        </tr>
        <!-- / Footer -->
        
    </table>

</body>
</html>
