<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Success Email</title>
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

    <!-- Style -->
    <style>
        * {
            margin: 0;
            padding: 0;
            background: none;
        }

        body {
            margin: 0 auto;
            padding: 0;
        }
    </style>
    <!-- / Style -->

</head>
<body style="margin:0 auto; background:#fff; padding:0;">

    <table cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0; background:none; width:600px; overflow:hidden; background:#eee; font-family:'Open Sans', sans-serif; font-size:14px; line-height:22px; letter-spacing:0; color:#666; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px; overflow:hidden; font-weight:normal;">

        <!-- Header -->
        <tr>
            <th colspan="3"><a href="http://lifegold.com/" target="_blank" title="lifegold"><img src="https://lifegoldecom.com/images/logo.png" alt="lifegold" style=" height:50px; margin:0 0 -7px 0; width:30%; background-color: white;" /></a></th>
        </tr>
        <!-- / Header -->
        <!-- Body -->
        <tr>
            <td colspan="2" style="padding:23px 0 20px 20px; vertical-align:top;">
                <table width="100%" cellpadding="0" cellspacing="0" style="padding:20px; background:#fff; box-shadow:0 2px 3px #ccc; border:1px solid #ddd; text-align:left; font-weight:normal;">
                    <tr>
                        <th>
                            <img src="http://lifegold.com/Template/eimages/icon-success.png" alt="" style="display:inline-block; position:relative; top:7px; margin-right:10px;" />
                            <h1 style="font-size:20px; font-weight:600; color:#00a12a;display:inline-block; line-height:30px; ">Registration Successful</h1>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin-top:30px; font-weight:bold; color:#000;">Hello User,</p>
                            <p style="font-weight:normal; margin:10px 0 20px 0;">You have successfully register with<strong> lifegold </strong>. Below are the details of your account. Please check and if there are any queries please contact us.</p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">User ID :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&strUserID&&</span></p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">Password :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&pass&&</span></p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">Transaction Pin :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&transPass&&</span></p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">Name :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&username&&</span></p>
                            <p style="margin:10px 0 15px 0; font-weight:bold; color:#000;"><span style="width:120px; display:inline-block; vertical-align:top;">Email ID :</span><span style="font-weight:normal; display:inline-block; vertical-align:top;">&&email&&</span></p>                           
                        </td>
                    </tr>
                </table>
            </td>
             
        </tr>
        <!-- / Body -->
         
        <!-- Footer -->
        <tr style="background:#000; color:#bbb; font-size:12px; line-height:20px;">

            <td style="padding:20px; width:140px; vertical-align:top;">
                
            </td>

            <td style="width:200px;padding:20px; vertical-align:top;">
                <p>lifegold<br /> <br /> <br /></p>
            </td>
            <td style="width:120px; padding:20px; vertical-align:top;">
                <p><a href="mail-to:hr@lifegold.com" style="color:#00a2d7;">hr@lifegold.com</a></p>
                <!--
				<p style="margin:5px 0;"><img src="http://lifegold.com/Template/eimages/icon-ph.png" alt="Phone" style="position:relative; top:7px; margin:0 5px 0 0;" />xx </p>
                <p><img src="http://lifegold.com/Template/eimages/icon-wa.png" alt="Phone" style="position:relative; top:7px; margin:0 5px 0 0;" />xx</p>
				-->
            </td>
        </tr>
        <!-- / Footer -->

    </table>
</body>
</html>
