<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DSN=dsnMSW;DRIVER={MySQL ODBC 5.1 Driver};Database=db_lifegold;Server=localhost;uid=root;" />
  </connectionStrings>
  <appSettings>
    <add key="PooledConnectionString" value="DSN=dsnMSW;DRIVER={MySQL ODBC 5.1 Driver};Database=db_lifegold;Server=localhost;Pooling=true;Connect Timeout=180;uid=root;" />
    <add key="UnPooledConnectionString" value="DSN=dsnMSW;DRIVER={MySQL ODBC 5.1 Driver}; Database=db_lifegold; Server=localhost;uid=root;Pooling=false; " />
    <add key="dbName" value="db_lifegold" />
    <add key="MySqlconnString" value="DSN=dsnMSW;Database=db_lifegold;Server=localhost;uid=root;" />
  </appSettings>
  <system.webServer>
    <urlCompression doStaticCompression ="true" doDynamicCompression="true"/>
    <rewrite>
      <rules>
        <rule name="Hide .aspx ext">
          <match url="^(.*)$" ignoreCase="true"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx"/>
        </rule>
        
        <rule name="Redirecting .aspx ext" stopProcessing="true">
          <match url="^(.*).aspx$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).aspx$"/>           
          </conditions>
          <action type="Redirect" url="{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
  <system.web>
   
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <compilation debug="true" targetFramework="4.5.1">
      <codeSubDirectories>
        <add directoryName="VBCode" />
        <add directoryName="CSCode" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>    
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebRegisterSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1969/Apocalypse/WebRegister.asmx" binding="basicHttpBinding" bindingConfiguration="WebRegisterSoap" contract="ServiceReference1.WebRegisterSoap" name="WebRegisterSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>